1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [33]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [34]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [35]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [36]:
nombre = 'Maria Jose Castrezana'

5) Crear una variable que contenga un número complejo

In [37]:
num_complejo= 3 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [38]:
type(num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [39]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [40]:
v1 = 'True'
v2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [41]:
print('La variable 1 es de tipo:',type(v1) ,'La variable 2 es de tipo:' ,type(v2))

La variable 1 es de tipo: <class 'str'> La variable 2 es de tipo: <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [42]:
suma_variable = 5 +3.5

11) Realizar una operación de suma de números complejos

In [43]:
a = 3 +5j
b = 6 - 1j
print( a + b)

(9+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [44]:
c = a + 2.59
print(c)

(5.59+5j)

13) Realizar una operación de multiplicación

In [45]:
print( 3 *7)

21

14) Mostrar el resultado de elevar 2 a la octava potencia

In [46]:
print( 2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [47]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [48]:
print( 27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [49]:
print( 27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [50]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [51]:
var1 = 'Puerto '
var2 = 'Vallarta'
print( var1 + var2)

Puerto Vallarta

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [52]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [53]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
Arroja error ya que en Python para un numero flotante solo se puede usar el punto(.) no la coma(,)

In [54]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [56]:
a = 3
a -= 1
print (a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

El sistema de numeración binario utiliza sólo dos dígitos, el cero (0) y el uno (1).

En una cifra binaria, cada dígito tiene distinto valor dependiendo de la posición que ocupe. El valor de cada posición es el de una potencia de base 2, elevada a un exponente igual a la posición del dígito menos uno. Se puede observar que, tal y como ocurría con el sistema decimal, la base de la potencia coincide con la cantidad de dígitos utilizados (2) para representar los números.

In [57]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

los dos operandos son de distinto tipo ya que uno es INT y el otro STRING

In [58]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [60]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces